<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="global_dataEntities" connectionString="metadata=res://*/Dao.TripAdvisorEDM.csdl|res://*/Dao.TripAdvisorEDM.ssdl|res://*/Dao.TripAdvisorEDM.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=172.16.125.160;User Id=root;password=1234;Persist Security Info=True;database=global_data&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>